{% load custom_tag %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registartion Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
        <h1 align="center">Student Registration</h1>
<body>

    <div class="container">
      
    
      <form action="{% url 'reg' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      
        <input type="hidden" name="user_id" value="{{ select_user.id }}"  />
        <div class="form-group">
            <label for="email">Name:</label>
            <input type="text" class="form-control" id="uname" value="{{ select_user.uname }}" placeholder="Enter name" name="uname">
          </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" id="email" value="{{ select_user.email }}" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="password" value="{{ select_user.password }}" placeholder="Enter password" name="password">
        </div>
        <div class="form-group">
            <label for="pwd">Gender:</label>
            <input type="radio" value="Male" name="gender" value="Male" {% if select_user.gender == 'Male' %} checked {% endif %}>Male
            <input type="radio" value="Female" name="gender" value="Female" {% if select_user.gender == 'Female' %} checked {% endif %}> Female 
        </div>
       
        <div class="form-group">
        <label for="">Languages</label>
       
        <input type="checkbox" value="Gujarati" name="lng" value="Gujarati" {% if select_user.lang|isExists:'Gujarati' %}  checked {% endif %}> Gujarati
        <input type="checkbox" value="Hindi" name="lng" value="Hindi" {% if select_user.lang|isExists:'Hindi' %}  checked {% endif %}> Hindi
        <input type="checkbox" value="English" name="lng" value="English" {% if select_user.lang|isExists:'English' %}  checked {% endif %}> English 
     
        </div>

        <div class="form-group">
            <label for="">Country</label>
            <select name="country" id="country">
                <option value="India" {% if select_user.country|isExists:'India'  %} selected {% endif %}>India</option>
                <option value="USA" {% if select_user.country|isExists:'USA'  %} selected {% endif %}>USA</option>
                <option value="Canada" {% if select_user.country|isExists:'Canada'  %} selected {% endif %}>Canada</option>
            </select>
    
        </div>
        <div class="form-group">
            <input type="file" name="img" onchange="loadFile(event)">
            {% if action == 'edit' and select_user.img != "" %}

                <img src="{{ select_user.img.url }}" alt="img1" id ="output" height="200px" width="200px">
              
              {% else %}
              <img  src="/media/images/defaultimg.png" alt="img"  id="output" height="200px" width="200px" >
            {% endif %} 
           
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-primary ">Clear</button>
      </form>
    </div>
    
    <div class="container">
       
      <h2 align="center">Student Table</h2>
             <input type="text" placeholder="Search for names.." name="searchname">

      <table class="table" id="myTable">
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Password</th>
            <th class="text-center">Gender</th>
            <th class="text-center">Languages</th>
            <th class="text-center">Country</th>
            <th class="text-center">Photo</th>
            
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody id="geeks">
        {% for row in alldata %}
          <tr>
            <td class="text-center">{{ row.id }}</td>
            <td class="text-center">{{ row.uname }}</td>
            <td class="text-center">{{ row.email }}</td>
            <td class="text-center">{{ row.password }}</td>
            <td class="text-center">{{ row.gender }}</td>
            <td class="text-center">{{ row.lang }}</td>
            <td class="text-center">{{ row.country }}</td>
            <td class="text-center"><img src="/media/{{row.img}}" alt="" height="50px" width="50px"></td>
             <td class="text-center">
                <a href="{% url 'editUser' row.id  %}" class="btn btn-info" role="button">Edit</a>
                <a href="{% url 'deleteUser' row.id  %}" class="btn btn-danger" role="button">Delete</a>
            </td> 
          </tr>
          {% endfor %}
          
        </tbody>
      </table>

      <ul class="pagination mb-4" style="margin-top: 30px;">
        <li class="page-item {% if page_obj.has_previous == False %} disabled {% endif %}">
           <a class="page-link" onClick="" tabindex="-1">Previous</a>
        </li>
        {% for p in total_page %}
        <li class="page-item {% if p == page_obj.number %} active {% endif %}"><a class="page-link" onClick="">{{p}}</a></li>
        {% endfor %}
     
        <li class="page-item {% if page_obj.has_next == False %} disabled {% endif %}">
           <a class="page-link" onClick="">Next </a>
        </li>
     </ul>
    </div>

</body>



</html>