<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registartion Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
        <h1 align="center">Student Registration</h1>
<body>

    <div class="container">
      
    
      <form action="{% url 'reg' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ select_user.id }}"  />
        <div class="form-group">
            <label for="email">Name:</label>
            <input type="text" class="form-control" id="uname" value="{{ select_user.uname }}" placeholder="Enter name" name="uname">
          </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" id="email" value="{{ select_user.email }}" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="password" value="{{ select_user.password }}" placeholder="Enter password" name="password">
        </div>
        <div class="form-group">
            <label for="pwd">Gender:</label>
            <input type="radio" value="male" name="gender" checked value="{{ select_user.gender }}"> Male
            <input type="radio" value="female" name="gender" value="{{ select_user.gender }}"> Female 
        </div>
       
        <div class="form-group">
        <label for="">Languages</label>
       
        <input type="checkbox" value="gujarati" name="lng" value="{{select_user.lng}}"> Gujarati
        <input type="checkbox" value="hindi" name="lng" value="{{select_user.lng}}"> Hindi
        <input type="checkbox" value="english" name="lng" value="{{select_user.lng}}"> English 
     
        </div>

        <div class="form-group">
            <label for="">Country</label>
            <select name="country" id="country">
                <option value="India">India</option>
                <option value="USA">USA</option>
                <option value="Canada">Canada</option>
            </select>
    
        </div>
        <div class="form-group">
            <input type="file" name="img">
    
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    
    <div class="container">
       
      <h2 align="center">Student Table</h2>
             
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Gender</th>
            <th>Languages</th>
            <th>Country</th>
            <th>Photo</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for row in alldata %}
          <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.uname }}</td>
            <td>{{ row.email }}</td>
            <td>{{ row.password }}</td>
            <td>{{ row.gender }}</td>
            <td>{{ row.lang }}</td>
            <td>{{ row.country }}</td>
            <td><img src="/media/{{row.img}}" alt="" height="50px" width="50px"></td>
             <td>
                <a href="{% url 'editUser' row.id  %}" class="btn btn-info" role="button">Edit</a>
                <a href="{% url 'deleteUser' row.id  %}" class="btn btn-danger" role="button">Delete</a>
            </td> 
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>


</body>

</html>